.top {
    display: flex;
    align-items: center;
}

.bottom {
    width: 100%;
    height: 40px;
    border: 2px solid black;
}

.ready-status {
    margin-right: 10px;
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.ready-status-red {
    background-color: red;
}

.ready-status-green {
    background-color: green;
}